<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>MyLIB -
        <%= book[0].title %>
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/personal.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/content" class="brand-logo">MyLIB</a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="/content"><i class="material-icons right">book</i>Mis libros</a></li>
                    <li><a href="/find"><i class="material-icons right">search</i>Buscar</a></li>
                    <li><a href="/profile"><i class="material-icons right">account_circle</i>Mi Perfil</a></li>
                    <li><a class="waves-effect waves-light btn" href="/logout">Cerrar Sesión <i class="material-icons right" id="exit">exit_to_app</i></a></li>
                </ul>
              
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/content"><i class="material-icons left">book</i>Mis libros</a></li>
                    <li><a href="/find"><i class="material-icons left">search</i>Buscar</a></li>
                    <li><a href="/profile"><i class="material-icons left">account_circle</i>Mi Perfil</a></li>
                    <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Cerrar Sesión</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    <br>
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card grey lighten-5">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3">
                            <% if (book[0].img) { %>
                                <img class="materialboxed" width="90%" src="<%=book[0].img%>">
                                <% } else { %>
                                    <img class="materialboxed" width="90%" src="../images/book-cover.jpg">
                                    <% } %>
                        </div>
                        <div class="col s9">
                            <h2><%= book[0].title %></h2>
                            <div class="row">
                                <div class="col s6">
                                    <div class="book-atribute">AUTOR:</div>
                                    <div class="book-value">
                                        <%= book[0].author %>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="book-atribute">EDITORIAL:</div>
                                    <div class="book-value">
                                        <%= book[0].publisher %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <div class="book-atribute">GÉNERO:</div>
                                    <div class="book-value">
                                        <%= book[0].genre %>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="book-atribute">NÚMERO PÁGINAS:</div>
                                    <div class="book-value">
                                        <%= book[0].pages %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <div class="book-atribute">ISBN:</div>
                                    <div class="book-value">
                                        <%= book[0].isbn %>
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div class="book-atribute">PRECIO:</div>
                                    <div class="book-value">
                                        <%= book[0].price %>€
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="book-atribute">FECHA COMPRA:</div>
                                    <div class="book-value">
                                        <%var month = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];%>
                                            <%= book[0].buyDate.getDate() + ' de ' + month[book[0].buyDate.getMonth()] + ' de ' + book[0].buyDate.getFullYear(); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col s10 offset-s1 center-align">
                        <a class="waves-effect waves-light btn white-text" href="/delete/<%= book[0]._id %>">eliminar <i class="material-icons right" id="exit">delete_forever</i></a>                              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Scripts-->
    <script src="https://use.fontawesome.com/f31f9c5054.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
</body>

</html>